@import "../colors.css";

.table {
  margin-top: 25px;
  border-collapse: collapse;
}

.highlighted {
  background-color: red !important;
}

.cell {
  width: 100px;
  height: 50px;
  text-align: center;
  border: 1px solid black;
  min-width: 50px;
}

.action_cell {
  vertical-align: middle;
  width: 50px;
}

.pointer {
  cursor: pointer;
}

.trash {
  width: 20px;
  height: 20px;
  background: gray;
  cursor: pointer;
}

.trash:hover {
  background-color: black;
}

.plus {
  width: 15px;
  height: 15px;
  background: blue;
  cursor: pointer;
}

.button {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 8px;
  outline: none;
  border: 1px solid var(--purple-950);
  padding: 5px;
  cursor: pointer;
  background-color: var(--purple-400);
  color: white;
  font-weight: 500;
}
.button:hover {
  background-color: var(--purple-500);
}

tr:nth-child(even) {
  background-color: var(--purple-200);
}

.icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
