:root {
  --purple-25: #fcfaff;
  --purple-50: #f9f5ff;
  --purple-100: #f4ebff;
  --purple-200: #e9d7fe;
  --purple-300: #d6bbfb;
  --purple-400: #b692f6;
  --purple-500: #9e77ed;
  --purple-600: #7f56d9;
  --purple-700: #6941c6;
  --purple-800: #53389e;
  --purple-900: #42307d;
  --purple-950: #2c1c5f;
}
